@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Crunchy</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=League+Spartan&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/869dc8f5ef.js" crossorigin="anonymous"></script>
</head>

<body>
    @if (ViewBag.OcultarHeader != true)
    {
        <header>
            <nav class="main-nav">
                <ul class="ul__nav">
                    <img src="~/img/logo.png" alt="Logo">
                    <li class="item-nav"><a href='@Url.Action("Home", "Home")'>Home</a></li>
                    <li class="item-nav"><a href='@Url.Action("Categorias", "Home")'>Categorías</a></li>
                    <li class="item-nav"><a href='@Url.Action("Favoritos", "Home", new {IdUsuario = HttpContextAccessor.HttpContext.Session.GetInt32("IdUsuario")})'>Favoritos</a></li>
                    <li class="item-nav"><a href='@Url.Action("AgregarReceta", "Home")'>Agregar Receta</a></li>
                    <div class="buscador-historial">
                        <div class="contenedor-buscador">
                            <div>
                                <span class="material-symbols-outlined icono-busqueda">search</span>
                                <form action='@Url.Action("Resultados", "Home")' autocomplete="off">
                                    <input type="search" id="busqueda" placeholder="Buscar..." name="busqueda">
                                </form>
                            </div>
                            <span class="material-symbols-outlined icono-filtro">restaurant</span>
                        </div>
                        <div class="historial">
                            <h3>Recientes</h3>
                            <div class="item-historial">
                                <div class="izq-item-historial">
                                    <span class="material-symbols-outlined tiempo-historial">schedule</span>
                                    <p>Shawarma</p>
                                </div>
                                <span class="material-symbols-outlined">arrow_insert</span>
                            </div>
                            <div class="item-historial">
                                <div class="izq-item-historial">
                                    <span class="material-symbols-outlined tiempo-historial">schedule</span>
                                    <p>Milanesa con puré</p>
                                </div>
                                <span class="material-symbols-outlined">arrow_insert</span>
                            </div>
                            <h3>Busquedas recomendadas</h3>
                        </div>
                    </div>
                    <div class="perfil" onclick="window.location.href='@Url.Action("Perfil", "Home", new {IdUsuario = HttpContextAccessor.HttpContext.Session.GetInt32("IdUsuario")})'">
                        <p>@HttpContextAccessor.HttpContext.Session.GetString("Username")</p>
                        <img src='@HttpContextAccessor.HttpContext.Session.GetString("Foto")' alt="Perfil">
                    </div>
                </ul>
            </nav>
        </header>
    }


    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div class="footer-arriba">
            <img src="~/img/Logo-Iso.png" alt="Logo">
            <div>
                <img src="https://1000marcas.net/wp-content/uploads/2019/11/insta-logo.png" alt="Instagram">
                <img src="https://www.pngarts.com/files/10/Vector-Facebook-Logo-Black-And-White-PNG-Transparent-Image.png" alt="Facebook">
                <img src="https://i0.wp.com/friaryschool.co.uk/wp-content/uploads/2023/11/large-x-logo.png.twimg_.1920-e1699539508422.png?ssl=1" alt="X">
            </div>
        </div>
        <div class="footer-abajo">
            <p>&copy; @DateTime.Now.Year Crunchy - Todos los derechos reservados</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
