@{
    ViewData["Title"] = "Favoritos";
}
@inject IHttpContextAccessor HttpContextAccessor
<div class="main">
    <h1 class="titulo">Favoritos</h1>
    @foreach(Receta receta in ViewBag.ListaRecetasFav){
        <div class="card">
            <img src="@receta.Foto" alt="">
            <div class="parte-abajo-card">
                <div class="social-card">
                    <div class="estrellas">
                        @{
                            int estrellasRestantes = 5;
                            int estrellasLlenas = (int)receta.Calificacion;
                            bool tieneMediaEstrella = (receta.Calificacion - estrellasLlenas) >= 0.5;

                            for (int i = 0; i < estrellasLlenas; i++)
                            {
                                <span class="material-symbols-outlined estrella estrella-llena">star</span>
                            }

                            if (tieneMediaEstrella)
                            {
                                <span class="material-symbols-outlined estrella estrella-mediollena">star_half</span>
                                estrellasRestantes--;
                            }

                            for (int i = 0; i < estrellasRestantes - estrellasLlenas; i++)
                            {
                                <span class="material-symbols-outlined estrella estrella-vacia">star</span>
                            }
                        }
                    </div>
                    <div class="der-social">
                        <span class="material-symbols-outlined compartir">share</span>
                        @if(receta.EsFavorito==1){
                            <span class="material-symbols-outlined like like-lleno" onclick="cambiarLike(this, @(HttpContextAccessor.HttpContext.Session.GetInt32("IdUsuario")), @receta.IdReceta)">favorite</span>
                        }else{
                            <span class="material-symbols-outlined like" onclick="cambiarLike(this, @(HttpContextAccessor.HttpContext.Session.GetInt32("IdUsuario")), @receta.IdReceta)">favorite</span>
                        }
                    </div>
                </div>
                <h3>@receta.NombreReceta</h3>
                <p>@receta.Descripcion</p>
                <div class="caracteristicas-card">
                    <div>
                        <img src="@receta.FotoPais" alt="">
                        <h5>@receta.DiminutivoPais</h5>
                    </div>
                    <div>
                        <span class="material-symbols-outlined tiempo">schedule</span>
                        <h5>@receta.Tiempo</h5>
                    </div>
                    <div>
                        <span class="material-symbols-outlined dificultad">speed</span>
                        <h5>@receta.Dificultad</h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>